<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HomePageUrl" value="http://zacharytoliver.com/"/>
    <add key="ResumePageUrl" value="http://zacharytoliver.com/resume.html"/>
    <add key="ArtifactFilePath" value="C:\ZacharyToliver\UserAcceptanceTests\Artifacts"/>
  </appSettings>
</configuration>